{% block choice_widget_expanded %}
    {% for child in form %}
        <div class="mb-1">
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </div>
    {% endfor %}
{% endblock %}
