<div class="w-1/4 p-3 mt-8">
    <div>
        <div class="border-b pb-2 mb-1">
            <a href="{{ path('transcode_list') }}">
                {{ 'live.streams'|trans }}
            </a>
        </div>
{#        <div class="border-b pb-2 mb-1">#}
{#            <a href="{{ path('settings_system_information') }}">#}
{#                Youtube/Link#}
{#            </a>#}
{#        </div>#}
{#        <div>#}
{#            <a href="{{ path('settings_system_information') }}">#}
{#                User upload#}
{#            </a>#}
{#        </div>#}
    </div>
</div>
