{
    # Debug
    {$CADDY_DEBUG}
}

{$SERVER_NAME}

{$CADDY_EXTRA_CONFIG}

log

:80 {
    handle_path /live/* {
        root * /srv/app/public
        php_fastcgi unix//var/run/php/php-fpm.sock
        encode zstd gzip
        file_server
    }

    handle {
        root * /srv/app/public
        php_fastcgi unix//var/run/php/php-fpm.sock
        encode zstd gzip
        file_server
    }
}
