:80 {
    log

    handle_path /live* {
        root * /orbit/transcode
        file_server browse
    }

    handle {
        root * /srv/app/public
        php_fastcgi unix//var/run/php/php-fpm.sock
        encode zstd gzip
        file_server
        header X-Forwarded-Proto {scheme}
    }
}
