<div class="w-1/4 p-3 mt-8">
    <div class="rounded border font-semibold p-1 hover:bg-gray-600 cursor-pointer mt-1 {{ nav == 'system_information' ? 'bg-gray-500' }}">
        {{ 'settings.system.information'|trans }}
    </div>
    <div class="rounded border font-semibold p-1 hover:bg-gray-600 cursor-pointer mt-1">
        Transcodes (DASH)
    </div>
</div>
