<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'title'|trans }}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/d6a6a85908.js" crossorigin="anonymous"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="text-white" style="background-color: rgb(30 41 59);">
{#<body class="text-white" style="background-color: #1f2026;">#}
{% include 'header.html.twig' %}
{% block body %}
{% endblock %}
{% include 'footer.html.twig' %}
</body>
</html>
