<footer class="mt-5">
    <div class="border-t mx-20"></div>
    <h1>{{ 'title'|trans }}</h1>
    <a href="https://github.com/jameskitt616/orbit" title="{{ 'brands.github'|trans }}">
        <i class="fa-brands fa-github"></i>
    </a>
</footer>
